body{
    background-color: aquamarine;
}
.division{
    border: 5px solid plum;
    height: 40%;
    width: 90%;
    display: flex;
}
img{
    height: 200px;
    width: 200px;
    display: flex;
    padding: 30px; 
}
.division > div:hover{
    transform: scale(2);
}